<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pikcurchu.pikcur.mapper.BlockMapper">

    <select id="selectBlockList" resultType="com.pikcurchu.pikcur.dto.response.ResBlockDto">
        SELECT
            s.profile
        ,	s.store_name
        ,	b.block_id
        FROM
            block b
        JOIN
            store s
        ON	b.store_id  = s.store_id
        JOIN
            member m
        ON	s.member_no = m.member_no
        WHERE
            b.member_no = #{memberNo}
        AND b.status_no = '01'
        AND m.status_no = '01'
    </select>

    <update id="deleteBlockStore">
        UPDATE
            block
        SET
            status_no = '02'
        WHERE
            block_id = #{blockId}
        and member_no = #{memberNo}
    </update>
</mapper>